{% load static %}
{% load profile_data %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your review to the world with the best movie commmunity">
    <meta name="keywords" content="movie review ratings community">
    <meta name="author" content="Bhardvaj, Kuldeep, Deep, Jenish, Shruti">

    <!-- Google font: Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- FontAwsome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'user_page/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user_page/css/tablet.css' %}" media="screen and (max-width: 800px)">
    <link rel="stylesheet" href="{% static 'user_page/css/mobile.css' %}" media="screen and (max-width: 600px)">

    <!-- Moview Icon -->
    <link rel="shortcut icon" href="{% static 'img/Favicon.ico' %}" type="image/x-icon">

    <!-- title -->
    <title>Moview - User</title>
</head>
<body>
    <!-- Navbar -->
    <div class="hero-background">
        <div class="container">
            <nav>
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'img/Logo.png' %}" alt="Moview"></a>
                </div>
                <div class="login-register">
                    {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}" class="btn btn-primary dashboard">Dashboard</a>
                        <a href="javascript:{document.getElementById('logout').submit()}" class="btn btn-secondary logout">LOGOUT</a>
                        <form action="{% url 'logout_process' %}" id="logout" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary login">LOGIN</a>
                        <a href="{% url 'register' %}" class="btn btn-secondary register">REGISTER</a>
                    {% endif %}
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

        <!-- Main-hero -->
        <div class="hero">
            <img src="{% static 'img/user_background.jpg'%}" alt="Cover Image">
        </div>
    </div>

    <!-- friend request user form -->
    <form action="{% url 'send_friend_request' %}" id="make_friend" method="POST">
        {% csrf_token %}
        <input type="hidden" name="user_id" value="{{ user_id }}">
    </form>

    <!-- Search Title -->
    <div class="container">
        <div class="user-title">
            <div class="row">
                <img src="{% get_profile_image user_id %}" alt="Profile">
                <div class="col user-data">
                    <p class="heading-2">{% get_profile_name user_id %}</p>
                    <p class="lable-secondary">@{{ user.username }}</p>
                    <p class="lable-secondary"><span class="lable-primary">Favorite Movies: </span>{{favorite_count}}</p>
                    <p class="lable-secondary"><span class="lable-primary">Friends: </span>{{friend_count}}</p>
                    {% if already_friend %}
                        <a href="javascript:{friend_request()}" class="btn btn-primary">Unfriend</a>
                    {% else %}
                        {% if request_sent %}
                            <a href="javascript:{friend_request()}" class="btn btn-primary">Request Sent</a>
                        {% else %}
                            <a href="javascript:{friend_request()}" class="btn btn-primary">Send Friend Request</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!--! Search Result - Home-->
    <div class="container">
        <div class="row dashboard-content">
            <div class="col movie-column">
                <div class="subtitle-wrap">
                    <p class="lable-primary subtitle">Favorite Movies</p>
                    <a href="{% url 'user_favorite_movie_list' user_id %}" class="link">view all</a>
                </div>
                <div class="movie-grid">
                    {% if favorite_movies %}
                        {% for fmovie in favorite_movies %}
                            <a href="{% url 'movie' fmovie.movie_id.id %}" class="card-wrap">
                                <div class="card">
                                    <img src="{{ fmovie.movie_id.poster.url }}" alt="movie">
                                    <p class="lable-secondary">{{ fmovie.movie_id.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="lable-secondary">No Movies in Favorite List</p>
                    {% endif %}
                </div>
                <div class="subtitle-wrap">
                    <p class="lable-primary subtitle">Watched Movies</p>
                    <a href="{% url 'user_watch_movie_list' user_id %}" class="link">view all</a>
                </div>
                <div class="movie-grid">
                    {% if watched_movies %}
                        {% for wmovie in watched_movies %}
                            <a href="{% url 'movie' wmovie.movie_id.id %}" class="card-wrap">
                                <div class="card">
                                    <img src="{{ wmovie.movie_id.poster.url }}" alt="movie">
                                    <p class="lable-secondary">{{ wmovie.movie_id.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="lable-secondary">No Movies in Watched List</p>
                    {% endif %}
                </div>
            </div>
            <div class="col friends-column">
                <p class="lable-primary">Friends</p>
                <div class="firend-list scroll-bar">
                    {% if friends %}
                        {% for friend in friends %}
                            <div class="friend-card">
                                <img src="{% get_profile_image friend.user2.id %}" alt="User" class="profile-img">
                                <a href="{% url 'user_profile' friend.user2.id %}"><p class="lable-secondary link">{% get_profile_name friend.user2.id %}</p></a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="friend-card">
                            <p class="lable-secondary">You have no friend</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="container line">
        <div class="horizontal-line"></div>
    </div>

    <!-- Footer -->
    <div class="container">
        <div class="footer">
            <div class="about">
                <a href="{% url 'about' %}" class="btn btn-secondary lable-primary">About us</a>
                <a href="http://www.twitter.com/" class="btn btn-secondary"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="http://www.instagram.com/" class="btn btn-secondary"><i class="fab fa-instagram-square"></i> Instagram</a>
                <a href="https://www.youtube.com/" class="btn btn-secondary"><i class="fab fa-youtube-square"></i> YouTube</a>
            </div>
            <p class="lable-secondary">Copyright© 2021, All Right Reserved</p>
        </div>
    </div>

    {% include 'partials/_messages.html' %}

    <script>
        // send friend request
        function friend_request()
        {
            let formValid = document.getElementById('make_friend').checkValidity();
            if (formValid == true)
            {
                document.getElementById('make_friend').submit();
            }
        }
    </script>
</body>
</html>