:root
{
    --max-width: 1250px;
    --dark-color: #222222;
    --light-color: #f2f2f2;
    --button-disabled-color: #996666;
    --button-primary-color: #F53D3D;
    --button-hover-color: #E51A1A;
    --message-error-color: #C05026;
    --message-success-color: #A4B61F;
}

/** Reset */
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background: var(--dark-color);
}

/** Utility */
.container
{
    margin: auto;
    max-width: var(--max-width);
    padding: 0 1rem;
}

a
{
    text-decoration: none;
    color: var(--dark-color);
}

img
{
    max-width: 100%; 
    display: block;
}

ul
{
    list-style: none;
}

.btn
{
    display: inline-block;
    padding: 0.5rem 2rem;
    color: var(--dark-color);
    background: var(--light-color);
    font-weight: 400;
    border-radius: 5px;
}

.btn-primary
{
    color: var(--light-color);
    background: var(--button-primary-color);
}

.btn-secondary
{
    color: var(--light-color);
    background: transparent;
}

.btn-primary:hover
{
    background: var(--button-hover-color);
}

.btn-secondary:hover
{
    color: var(--button-hover-color);
}

.link
{
    color: var(--light-color);
}

.link:hover
{
    color: var(--button-hover-color);
    cursor: pointer;
}

.lable-primary
{
    font-size: 18px;
    font-weight: 700;
    color: var(--light-color);
}

.lable-secondary
{
    font-size: 16px;
    font-weight: 400;
    color: var(--light-color);
}

.text
{
    color: var(--light-color);
}

.heading-1
{
    font-size: 60px;
    line-height: 1;
    margin-bottom: 2rem;
    color: var(--light-color); 
}

.card
{
    margin: 1rem 1rem;
    position: relative;
}

.card > .name
{
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
}

.card > img
{
    max-width: 175px;
    display: inline-block;
}

.card:hover > .name
{
    box-sizing: border-box;
    text-align: center;
    display: block;
    background: var(--button-primary-color);
    width: 100%;
    padding: 0.5rem 0
}

/** Navbar------------------------------------------------------ */
nav
{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
}

nav > .logo > a > img
{
    width: 150px;
}
/* -------------------------------------------------------------- */


/** Main Hero----------------------------------------------------------------- */
.hero-background
{
    background: url("../img/about_background.jpg");
    background-size: cover;
    background-position: center;
}

.hero
{
    padding-top: 5rem;
    padding-bottom: 1px;
}

.hero > .container > .heading-1
{
    text-shadow: 1px 1px 0px var(--dark-color);
}
/* ----------------------------------------------------------------- */

/** About Info---------------------------------------------------------------- */
.row
{
    margin: 2rem 0;
    display: flex;
}

.text-info
{
    width: 200%;
    color: var(--light-color);
    margin-right: 1rem;
}

.contact-info
{
    width: 100%;
}

.text-info > .lable-primary
{
    margin-bottom: 0.5rem;
}

.about-text
{
    margin-bottom: 1.5rem;
}

/** Developer Team */
.text-info > .about-team
{
    display: flex;
}

.text-info > .about-team > .team-card
{
    width: 100%;
    background-color: var(--button-primary-color);
    margin-right: 1rem;
}

.text-info > .about-team > .team-card + .text-info > .about-team > .team-card
{
    margin-left: 0.5rem;
    background-color: blue;
}

.text-info > .about-team > .team-card > img
{
    margin-bottom: 0.5rem;
}

.text-info > .about-team > .team-card > p
{
    margin-bottom: 1rem;
    padding: 0 0.5rem;
}
/* -------------- */

/** Contact Us  */
.contact-info > .lable-primary
{
    margin-bottom: 1rem;
}

.contact-info > .email-info
{
    margin-left: 2rem;
    margin-bottom: 1rem;
}

.contact-info > .email-info > p
{
    font-size: 1.3rem;
}
/* -------------- */

/* ---------------------------------------------------------------- */

/* Message------------------------------------------------------------- */
.message
{
    display: block;

    position: absolute;
    top: 1rem;
    margin: 0 auto;
    padding: 0 1rem;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
}

.message-container
{

    display: flex;
    align-items: center;
    Justify-content: space-between;

    border-radius: 5px;
    width: 100%;

    padding: 0.5rem 2rem;
    margin: 0 1rem;
}

.message-success
{
    background-color: var(--message-success-color);
    box-shadow: 0px 20px 30px #a4b61f60;
}

.message-error
{
    background-color: var(--message-error-color);
    box-shadow: 0px 20px 30px #c04f2660;
}

.message-container > p
{
    margin-right: 1rem;
    width: 100%;
}

.message-container > i
{
    padding: 0.5rem 0.5rem;
    cursor: pointer;
}
/* ------------------------------------------------------------- */