/** Navbar--------------------------------------------------------- */
.register
{
    display: none;
}

.logout
{
    display: none;
}
/* --------------------------------------------------------- */

/** Utility-------------------------------------------------------------- */
@media(max-width: 400px)
{
    .container
    {
        padding: 0 0.5rem;
    }
}

.heading-1
{
    font-size: 30px;
    line-height: 1;
}

.star
{
    font-size: 1rem;
}

.text-input
{
    width: 280px;
}


.radio-input
{
    margin-right: 0.1rem;
    width: 1rem;
    height: 1rem;
}
/* -------------------------------------------------------------- */

/** Search Title------------------------------------------------------ */
.search-title
{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -10rem;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row
{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
}
/* ---------------------------------------------------------------- */

/** hero---------------------------------------------------------------------- */
.hero
{
    height: 15rem;
}
/* ---------------------------------------------------------------------- */

/*! Search result-Home ------------------------------------------------------ */
.subtitle
{
    text-align: center;
}
/* ------------------------------------------------------------------------ */

/*! Search result-Output ------------------------------------------------------ */
.movie-grid
{
    grid-template-columns: 1fr;
    align-items: center;
}
/* ------------------------------------------------------------------------ */