/** Utility------------------------------------------------------ */
.star
{
    font-size: 1.5rem;
}
/* ---------------------------------------------------------------- */

/** Search Title------------------------------------------------------ */
.search-title
{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -10rem;
}

.row
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-row
{
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 1rem;
}
/* ---------------------------------------------------------------- */

/*! Search result-Home ------------------------------------------------------ */
.subtitle
{
    text-align: center;
}
/* ------------------------------------------------------------------------ */