/** Navbar--------------------------------------------------------- */
.register
{
    display: none;
}

.logout
{
    display: none;
}
/* --------------------------------------------------------- */

/** Utility-------------------------------------------------------------- */
@media(max-width: 400px)
{
    .container
    {
        padding: 0 0.5rem;
    }
}

.heading-1
{
    font-size: 30px;
    line-height: 1;
}

.star
{
    font-size: 1rem;
}

.text-input
{
    width: 100%;
}

select.text-input
{
    width: 100%;
}

.radio-input
{
    margin-right: 0.1rem;
    width: 1rem;
    height: 1rem;
}
/* -------------------------------------------------------------- */

/** Search Title------------------------------------------------------ */
.dashboard-title
{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -8.5rem;
}

.row
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.row > .user-data
{
    text-align: center;
}

.row > img
{
    max-width: 120px;
    margin-right: 0;
    margin-bottom: 2rem;
}

.dashboard-content
{
    flex-direction: column;
    padding-bottom: 1rem;
}
/* ---------------------------------------------------------------- */

/** hero---------------------------------------------------------------------- */
.hero
{
    height: 15rem;
}
/* ---------------------------------------------------------------------- */

/*! Dashboard movie list titles ------------------------------------------------------ */
.movie-grid
{
    grid-template-columns: 1fr 1fr;
}

.subtitle-wrap
{
    padding: 0;
}

.subtitle-wrap > .subtitle
{
    text-align: center;
}

.movie-column
{
    width: 100%;
}

.friends-column
{
    width: 100%;
}
/* ------------------------------------------------------------------------ */


/** Suggest movie modal------------------------------------------------- */
.suggest-modal-container
{
    width: 90%;
}

.suggest-modal-container > .suggest-modal > .name-input > p.btn
{
    margin-bottom: 1rem;
}

.suggest-modal-container > .suggest-modal > .name-input > .text-input
{
    margin-right: 0rem;
}
/* ------------------------------------------------------------- */


/** Profile edit modal------------------------------------------------- */
.profile-modal-container
{
    width: 95%;
}

.profile-modal-container > .profile-modal
{
    margin: 0 1rem;
}

.profile-modal-container > .profile-modal > form > .names
{
    flex-direction: column;
}

.profile-modal-container > .profile-modal > form > .names > div
{
    margin-right: 0rem;
}

.profile-modal-container > .profile-modal > form > .genre-input > .genre-list
{
    grid-template-columns: 1fr 1fr;
}
/* ------------------------------------------------------------- */


/** Request movie modal------------------------------------------------- */
.request-modal-container
{
    width: 90%;
}

.request-modal-container > .request-modal
{
    margin: 0 1rem;
}
/* ------------------------------------------------------------- */