<!DOCTYPE html>
<html lang="en">
<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your review to the world with the best movie commmunity">
    <meta name="keywords" content="movie review ratings community">
    <meta name="author" content="Bhardvaj, Kuldeep, Deep, Jenish, Shruti">

    <!-- Google font: Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="CSS/tablet.css" media="screen and (max-width: 600px)">
    <link rel="stylesheet" href="CSS/mobile.css" media="screen and (max-width: 500px)">

    <!-- title -->
    <title>Moview - Login</title>
</head>
<body>
    <!-- Navbar -->
    <div class="container">
        <nav>
            <div class="logo">
                <a href="../index.html"><img src="img/Logo.svg" alt="Moview"></a>
            </div>
            <div class="login-register">
                <a href="#" class="btn btn-primary login">LOGIN</a>
                <a href="../Register_page/register.html" class="btn btn-secondary register">REGISTER</a>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->

    <!-- Login Model -->
    <div class="container">
        <div class="login-container">
            <p class="heading-1">Login</p>
            <form action="#">
                <div class="email-input">
                    <p class="lable-primary">Email</p>
                    <input type="email" name="email" id="email" class="text-input">
                </div>
                <div class="password-input">
                    <p class="lable-primary">Password</p>
                    <input type="password" name="password" id="password" class="text-input">
                </div>
                <div class="forgetPassword-input">
                    <a href="#"><p class="lable-secondary link">Forgot your password?</p></a>
                </div>
            </form>
            <a href="#" class="btn btn-primary">LOGIN</a>
            <p class="lable-secondary" >Don't have account? <a href="../Register_page/register.html" class="link">Register here</a></p>
        </div>
    </div>
</body>
</html>