{% load static %}
{% load profile_data %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- metadata -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Share your review to the world with the best movie commmunity">
    <meta name="keywords" content="movie review ratings community">
    <meta name="author" content="Bhardvaj, Kuldeep, Darsh, Jenish, Shruti">

    <!-- Google font: Roboto -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap" rel="stylesheet">

    <!-- FontAwsome Icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/tablet.css' %}" media="screen and (max-width: 800px)">
    <link rel="stylesheet" href="{% static 'dashboard/css/mobile.css' %}" media="screen and (max-width: 600px)">

    <!-- Moview Icon -->
    <link rel="shortcut icon" href="{% static 'img/Favicon.ico' %}" type="image/x-icon">

    <!-- title -->
    <title>Moview - Dashboard</title>
</head>
<body>
    <!-- Navbar -->
    <div class="hero-background">
        <div class="container">
            <nav>
                <div class="logo">
                    <a href="{% url 'index' %}"><img src="{% static 'img/Logo.png' %}" alt="Moview"></a>
                </div>
                <div class="login-register">
                    {% if user.is_authenticated %}
                        <a href="{% url 'browse' %}" class="btn btn-primary dashboard">BROWSE MOVIES</a>
                        <a href="javascript:{document.getElementById('logout').submit()}" class="btn btn-secondary logout">LOGOUT</a>
                        <form action="{% url 'logout_process' %}" id="logout" method="POST">
                            {% csrf_token %}
                            <input type="hidden">
                        </form>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-primary login">LOGIN</a>
                        <a href="{% url 'register' %}" class="btn btn-secondary register">REGISTER</a>
                    {% endif %}
                </div>
            </nav>
        </div>
        <!-- End Navbar -->

        <!-- Main-hero -->
        <div class="hero">
            <img src="{% static 'img/dashboard_background.jpg'%}" alt="Cover Image">
        </div>
    </div>



    <!-- Search Title -->
    <div class="container">
        <div class="dashboard-title">
            <!-- <h1 class="heading-1">Dashboard</h1> -->
            <div class="row">
                {% get_profile_image user.id as user_data %}
                <img src="{% get_profile_image user.id %}" alt="Profile">
                <div class="col user-data">
                    <p class="heading-2">{% get_profile_name user.id %}</p>
                    <p class="lable-secondary">@{{user.username}}</p>
                    {% get_profile_genre user.id as favorite_genre %}
                    <p class="lable-secondary" id="favorite_genre"> <span class="lable-primary">Favorite Genres: </span>
                        {% for genre in favorite_genre %}
                            {% for key,value in genre_choices.items %}
                                {% if key == genre %}
                                    {{value}},
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </p>
                    <p class="lable-secondary"><span class="lable-primary">Number of friends: </span>{{ friend_count }}</p>
                    <p class="lable-secondary link" id="profile-modal-open"><i class="fas fa-user-edit"></i>&nbsp; Profile Settings</p>
                </div>
            </div>
        </div>
    </div>

    <!--! Search Result - Home-->
    <div class="container">
        <div class="row dashboard-content">
            <div class="col movie-column">
                <div class="subtitle-wrap">
                    <p class="lable-primary subtitle">Favorite Movies</p>
                    <a href="{% url 'favorite_movie_list' %}" class="link">view all</a>
                </div>
                <div class="movie-grid">
                    {% if favorite_movies %}
                        {% for fmovie in favorite_movies %}
                            <a href="{% url 'movie' fmovie.movie_id.id %}" class="card-wrap">
                                <div class="card">
                                    <img src="{{ fmovie.movie_id.poster.url }}" alt="movie">
                                    <p class="lable-secondary">{{ fmovie.movie_id.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="lable-secondary">No Movies in Favorite List</p>
                    {% endif %}
                </div>
                <div class="subtitle-wrap">
                    <p class="lable-primary subtitle">Watched Movies</p>
                    <a href="{% url 'watch_movie_list' %}" class="link">view all</a>
                </div>
                <div class="movie-grid">
                    {% if watched_movies %}
                        {% for wmovie in watched_movies %}
                            <a href="{% url 'movie' wmovie.movie_id.id %}" class="card-wrap">
                                <div class="card">
                                    <img src="{{ wmovie.movie_id.poster.url }}" alt="movie">
                                    <p class="lable-secondary">{{ wmovie.movie_id.name}}</p>
                                </div>
                            </a>
                        {% endfor %}
                    {% else %}
                        <p class="lable-secondary">No Movies in Watched List</p>
                    {% endif %}
                </div>
            </div>
            <div class="col friends-column">
                <p class="btn btn-primary" id="search-modal-open">Search Users</p>
                <p class="lable-primary">Notifications</p>
                <div class="noti-list scroll-bar">
                    {% if notification %}
                        {% for noti in notification %}
                            {% if noti.request_type %}
                                <div class="noti-card unread-border">
                                    <div class="content-wrap">
                                        <img src="{% get_profile_image noti.user1.id %}" alt="User" class="profile-img">
                                        <p class="lable-secondary"><a href="{% url 'user_profile' noti.user1.id %}" class="text link">{% get_profile_name noti.user1.id %}</a>'s friend request</p>
                                    </div>
                                    <div class="content-action">
                                        <a href="javascript:{
                                            let form = document.getElementById('friendRequestD{{noti.id}}');
                                            form.submit();
                                        }" class="btn btn-secondary">Decline</a>
                                        <a href="javascript:{
                                            let form = document.getElementById('friendRequestA{{noti.id}}');
                                            form.submit();
                                        }" class="btn btn-primary">Accept</a>
                                    </div>
                                    <!-- friend request accept notification action -->
                                    <form action="{% url 'friend_request_notification_handler' %}" id="friendRequestA{{noti.id}}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="noti_id" value="{{noti.id}}">
                                        <input type="hidden" name="user_id" value="{{noti.user1.id}}">
                                        <input type="hidden" name="ad" value="A">
                                    </form>
                                    <!-- friend request decline notification action -->
                                    <form action="{% url 'friend_request_notification_handler' %}" id="friendRequestD{{noti.id}}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="noti_id" value="{{noti.id}}">
                                        <input type="hidden" name="user_id" value="{{noti.user1.id}}">
                                        <input type="hidden" name="ad" value="D">
                                    </form>
                                </div>
                            {% else %}
                                {% if noti.is_read %}
                                    <div class="noti-card">
                                        <div class="content-wrap">
                                            <p class="lable-secondary"><a href="{% url 'user_profile' noti.user1.id %}" class="text link">{% get_profile_name noti.user1.id %}</a> suggested you {{noti.movie_id.name}} movie</p>
                                        </div>
                                        <div class="content-action">
                                            <a href="javascript:{
                                                let form = document.getElementById('gotomovie{{noti.id}}');
                                                form.submit();
                                            }" class="btn btn-primary">View Movie</a>
                                        </div>
                                        <!-- movie suggestion notification action -->
                                        <form action="{% url 'movie_notification_handler' %}" id="gotomovie{{noti.id}}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="noti_id" value="{{noti.id}}">
                                            <input type="hidden" name="movie_id" value="{{noti.movie_id.id}}">
                                        </form>
                                    </div>
                                {% else %}
                                    <div class="noti-card unread-border">
                                        <div class="content-wrap">
                                            <p class="lable-secondary"><a href="{% url 'user_profile' noti.user1.id %}" class="text link">{% get_profile_name noti.user1.id %}</a> suggested you {{noti.movie_id.name}} movie</p>
                                        </div>
                                        <div class="content-action">
                                            <a href="javascript:{
                                                let form = document.getElementById('gotomovie{{noti.id}}');
                                                form.submit();
                                            }" class="btn btn-primary">View Movie</a>
                                        </div>
                                        <!--  movie suggestion notification action -->
                                        <form action="{% url 'movie_notification_handler' %}" id="gotomovie{{noti.id}}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="noti_id" value="{{noti.id}}">
                                            <input type="hidden" name="movie_id" value="{{noti.movie_id.id}}">
                                        </form>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div class="noti-card">
                            <p class="lable-secondary">You don't have any notification</p>
                        </div>
                    {% endif %}
                </div>
                <br>
                <p class="btn btn-primary" id="request-modal-open">Request Movie</p>
                <br>
                <p class="lable-primary">Your Friends</p>
                <div class="firend-list scroll-bar">
                    {% if your_friends %}
                        {% for friend in your_friends %}
                            <div class="friend-card">
                                <img src="{% get_profile_image friend.user2.id %}" alt="User" class="profile-img">
                                <a href="{% url 'user_profile' friend.user2.id %}"><p class="lable-secondary link">{% get_profile_name friend.user2.id %}</p></a>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="friend-card">
                            <p class="lable-secondary">You have no friend</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Horizontal line -->
    <div class="container line">
        <div class="horizontal-line"></div>
    </div>

    <!-- Search modal -->
    <div class="suggest-modal-container hidden" id="search-modal">
        <p class="heading-1">Search User</p>
        <div class="suggest-modal">
            <div class="name-input">
                <p class="lable-primary">Type username here</p>
                <input type="text" name="name" id="name" class="text-input">
                <p class="btn btn-primary" id="search_value_button">Search</p>
            </div>
            <section class="scroll-bar" id="user_list_container">
                <a href="#"class="friend-card select">
                    <div class="friend-card-content" for="friend">
                        <div class="friend-name">
                            <p class="lable-primary">Result will be here</p>
                        </div>
                    </div>
                </a>
            </section>
            <div class="action-button">
                <p class="btn btn-secondary" id="search-modal-close">Cancel</p>
            </div>
        </div>
    </div>
    <div class="suggest-background-overlay hidden" id="search-overlay"></div>


    <!-- Profile edit modal -->
    <div class="profile-modal-container scroll-bar hidden" id="profile-modal">
        <p class="heading-1">Profile</p>
        <div class="profile-modal">
            <form action="{% url 'profile_update_process' %}" method="POST" id="profile_update" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="names">
                    <div class="first-input">
                        <p class="lable-primary">First Name</p>
                        <input type="text" name="firstname" id="firstname" class="text-input" pattern="[a-zA-Z].{2,}" title="First name shold be longer than 3 characters and only alphabets" value="{{ profile.first_name }}" required>
                    </div>
                    <div class="last-input">
                        <p class="lable-primary">Last Name</p>
                        <input type="text" name="lastname" id="lastname" class="text-input" pattern="[a-zA-Z].{2,}" title="Last name shold be longer than 3 characters and only alphabets" value="{{ profile.last_name }}" required>
                    </div>
                </div>
                <div class="image-input">
                    <p class="lable-primary">Profile image</p>
                    <p id="image_error_message"></p>
                    <div class="image-upload">
                        <label for="profile_image" class="file-input">Choose Image</label>
                        <span class="text" id="preview"> No file selected</span>
                    </div>
                    <input type="file" name="profile_image" id="profile_image" class="file-input" onchange="loadFile(event)" accept="image/*">
                </div>
                <div class="genre-input">
                    <p class="lable-primary">Select favorite genres</p>
                    <p id="genre_error_message"></p>
                    <div class="genre-list">
                        {% for key,value in genre_choices.items %}
                            <div>
                                <input type="checkbox" name="genre" id="genre" value="{{ key }}" class="check-box-input"
                                {% for genre in profile.favorite_genre.all %}
                                    {% if key == genre.name %}
                                        checked
                                    {% endif %}
                                {% endfor %}
                                >
                                <span class="lable-secondary">{{ value }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <a href="javascript:{document.getElementById('logout').submit()}" class="btn btn-primary logout-profile"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </form>
            <div class="action-button">
                <p class="btn btn-secondary" id="profile-modal-close">Cancel</p>
                <a href="javascript:{profile_update()}" class="btn btn-primary">Save</a>
            </div>
        </div>
    </div>
    <div class="profile-background-overlay hidden" id="profile-overlay"></div>


    <!-- Request movie modal -->
    <div class="request-modal-container scroll-bar hidden" id="request-modal">
        <p class="heading-1">Movie Request</p>
        <div class="request-modal">
            <form action="{% url 'movie_request' %}" method="POST" id="request_movie" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="movie-input">
                    <p class="lable-primary">Movie Name</p>
                    <input type="text" name="moviename" id="moviename" class="text-input" title="Movie name is required" required>
                </div>
                <div class="release-input">
                    <p class="lable-primary">Release Year</p>
                    <select id="releaseyear" name="releaseyear" class="text-input scroll-bar" required>
                        <option selected="true" disabled="disabled" value="">Select year</option>
                        {% for key,value in year_choices.items %}
                            <option value="{{ key }}">{{ value }}</option>
                        {% endfor %}
                    </select>
                </div>
            </form>
            <div class="action-button">
                <p class="btn btn-secondary" id="request-modal-close">Cancel</p>
                <a href="javascript:{request_movie_form()}" class="btn btn-primary">Send</a>
            </div>
        </div>
    </div>
    <div class="request-background-overlay hidden" id="request-overlay"></div>


    <!-- Footer -->
    <div class="container">
        <div class="footer">
            <div class="about">
                <a href="{% url 'about' %}" class="btn btn-secondary lable-primary">About us</a>
                <a href="http://www.twitter.com/" class="btn btn-secondary"><i class="fab fa-twitter-square"></i> Twitter</a>
                <a href="http://www.instagram.com/" class="btn btn-secondary"><i class="fab fa-instagram-square"></i> Instagram</a>
                <a href="https://www.youtube.com/" class="btn btn-secondary"><i class="fab fa-youtube-square"></i> YouTube</a>
            </div>
            <p class="lable-secondary">Copyright© 2021, All Right Reserved</p>
        </div>
    </div>

    {% include 'partials/_messages.html' %}

    <script>
        // Open close suggest friend modal
        let search_modal = document.getElementById('search-modal');
        let search_overlay = document.getElementById('search-overlay');
        let search_modal_close = document.getElementById('search-modal-close');
        let search_modal_open = document.getElementById('search-modal-open');

        function close_search_modal()
        {
            search_modal.classList.add('hidden');
            search_overlay.classList.add('hidden');
        }

        function open_search_modal()
        {
            search_modal.classList.remove('hidden');
            search_overlay.classList.remove('hidden');
        }

        search_modal_open.addEventListener('click', open_search_modal);
        search_overlay.addEventListener('click', close_search_modal);
        search_modal_close.addEventListener('click', close_search_modal);


        // Search button action
        let search_button = document.getElementById('search_value_button');

        search_button.addEventListener('click', list_user_call);

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for(var i = 0; i <ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        function list_user_call()
        {
            let name_value = document.getElementById('name').value;

            if (!name_value)
            {
                name_value = null;
                document.getElementById('user_list_container').innerHTML = `<a href="#"class="friend-card select">
                                                                                <div class="friend-card-content" for="friend">
                                                                                    <div class="friend-name">
                                                                                        <p class="lable-primary">Please type username in field</p>
                                                                                    </div>
                                                                                </div>
                                                                            </a>`;
            }
            else
            {
                console.log(name_value)

                let xhr = new XMLHttpRequest();
                csrf_token = getCookie('csrftoken')

                xhr.open("POST", "{% url 'user_list' %}", true);
                xhr.setRequestHeader("X-CSRFToken", csrf_token);
                xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                xhr.onload = function() {
                    if (this.status === 200)
                    {
                        let users = JSON.parse(this.responseText);
                        if (users === "None")
                        {
                            document.getElementById('user_list_container').innerHTML = `<a href="#"class="friend-card select">
                                                                                            <div class="friend-card-content" for="friend">
                                                                                                <div class="friend-name">
                                                                                                    <p class="lable-primary">No user found</p>
                                                                                                </div>
                                                                                            </div>
                                                                                        </a>`;
                        }
                        else
                        {
                            html = ""
                            for ( let i in users)
                            {
                                html += `<a href="/accounts/${users[i].id}" class="friend-card select">
                                            <div class="friend-card-content" for="friend">
                                                <div class="friend-name">
                                                    <img src="${users[i].user_photo_url}" alt="friend">
                                                    <p class="lable-primary">${users[i].user_name}</p>
                                                </div>
                                            </div>
                                        </a>`;
                            }
                            document.getElementById('user_list_container').innerHTML = html;
                        }
                    }
                    else if (this.status === 404)
                    {
                        console.log("Not found");
                        document.getElementById('user_list_container').innerHTML = `<a href="#"class="friend-card select">
                                                                                        <div class="friend-card-content" for="friend">
                                                                                            <div class="friend-name">
                                                                                                <p class="lable-primary">No user found</p>
                                                                                            </div>
                                                                                        </div>
                                                                                    </a>`;
                    }
                }

                xhr.send("name=" + name_value)
            }
        }

        function remove_character(str, char_pos) 
        {
            part1 = str.substring(0, char_pos);
            part2 = str.substring(char_pos + 1, str.length);
            return (part1 + part2);
        }


        // Open close edit profile modal
        let profile_modal = document.getElementById('profile-modal');
        let profile_overlay = document.getElementById('profile-overlay');
        let profile_modal_close = document.getElementById('profile-modal-close');
        let profile_modal_open = document.getElementById('profile-modal-open');

        function close_profile_modal()
        {
            profile_modal.classList.add('hidden');
            profile_overlay.classList.add('hidden');
        }

        function open_profile_modal()
        {
            profile_modal.classList.remove('hidden');
            profile_overlay.classList.remove('hidden');
        }

        profile_modal_open.addEventListener('click', open_profile_modal);
        profile_overlay.addEventListener('click', close_profile_modal);
        profile_modal_close.addEventListener('click', close_profile_modal);


        // removie last commas
        genre_element = document.getElementById('favorite_genre');
        let genre_list = genre_element.innerHTML;
        genre_list = remove_character(genre_list, genre_list.lastIndexOf(","));
        genre_element.innerHTML = genre_list;


        // laoding the image name
        function loadFile(event)
        {
            console.log("Selected")
            var output = document.getElementById('preview');
            output.textContent = event.target.files[0]['name']
        }

        // Profile setup form
        function profile_update()
        {
            let formValid = document.getElementById('profile_update').checkValidity();

            if (formValid == true)
            {
                document.getElementById('profile_update').submit();
            }
            else
            {
                let firstnameValid = document.getElementById('firstname').checkValidity();
                let lastnameValid = document.getElementById('lastname').checkValidity();
                let imageValid = document.getElementById('profile_image').checkValidity();
                let genres = document.getElementsByClassName('check-box-input');
                let genresValid = false;

                if (firstnameValid == false)
                {
                    document.getElementById('firstname').classList.add('text-error');
                }
                else
                {
                    document.getElementById('firstname').classList.remove('text-error');
                }

                if (lastnameValid == false)
                {
                    document.getElementById('lastname').classList.add('text-error');
                }
                else
                {
                    document.getElementById('lastname').classList.remove('text-error');
                }

                if (imageValid == false)
                {
                    let imageErrorMessage = document.getElementById('image_error_message');
                    imageErrorMessage.textContent = "*please provide image file";
                    imageErrorMessage.style.color = "var(--button-primary-color)"
                }
                else
                {
                    let imageErrorMessage = document.getElementById('image_error_message');
                    imageErrorMessage.textContent = "";
                }

                for (let i = 0; i < genres.length; i++)
                {
                    if (genres[i].checked == true)
                    {
                        genresValid = true;
                    }
                }

                console.log(genresValid);

                if (genresValid == false)
                {
                    let imageErrorMessage = document.getElementById('genre_error_message');
                    imageErrorMessage.textContent = "*please select at least one genre";
                    imageErrorMessage.style.color = "var(--button-primary-color)"
                }
                else
                {
                    let imageErrorMessage = document.getElementById('genre_error_message');
                    imageErrorMessage.textContent = "";
                }
            }
        }


        // Open close request movie modal
        let request_modal = document.getElementById('request-modal');
        let request_overlay = document.getElementById('request-overlay');
        let request_modal_close = document.getElementById('request-modal-close');
        let request_modal_open = document.getElementById('request-modal-open');

        function close_request_modal()
        {
            request_modal.classList.add('hidden');
            request_overlay.classList.add('hidden');
        }

        function open_request_modal()
        {
            request_modal.classList.remove('hidden');
            request_overlay.classList.remove('hidden');
        }

        request_modal_open.addEventListener('click', open_request_modal);
        request_overlay.addEventListener('click', close_request_modal);
        request_modal_close.addEventListener('click', close_request_modal);

        // Profile setup form
        function request_movie_form()
        {
            let formValid = document.getElementById('request_movie').checkValidity();

            if (formValid == true)
            {
                document.getElementById('request_movie').submit();
            }
            else
            {
                let movienameValid = document.getElementById('moviename').checkValidity();
                let releaseyearValid = document.getElementById('releaseyear').checkValidity();
                console.log(releaseyearValid)

                if (movienameValid == false)
                {
                    document.getElementById('moviename').classList.add('text-error');
                }
                else
                {
                    document.getElementById('moviename').classList.remove('text-error');
                }

                if (releaseyearValid == false)
                {
                    document.getElementById('releaseyear').classList.add('text-error');
                }
                else
                {
                    document.getElementById('releaseyear').classList.remove('text-error');
                }
            }
        }
    </script>
</body>
</html>