/** Navbar--------------------------------------------------------- */
.register
{
    display: none;
}

.logout
{
    display: none;
}
/* --------------------------------------------------------- */

/** Utility-------------------------------------------------------------- */
@media(max-width: 400px)
{
    .container
    {
        padding: 0 0.5rem;
    }
}

.card > img 
{
    width: 120px;
}

.heading-1
{
    font-size: 30px;
    line-height: 1;
}

.star
{
    font-size: 1rem;
}

.radio-input
{
    margin-right: 0.1rem;
    width: 1rem;
    height: 1rem;
}
/* -------------------------------------------------------------- */

/** Movie Title------------------------------------------------------ */
.movie-title
{
    margin-top: -3rem;
}
/* ---------------------------------------------------------------- */

/** hero---------------------------------------------------------------------- */
.hero
{
    height: 15rem;
}
/* ---------------------------------------------------------------------- */

/** Movie information------------------------------------------------------ */
.movie-info > .row
{
    flex-direction: column;
}

.info
{
    margin-bottom: 1rem;
}

.option
{
    text-align: center;
}

.option > .btn-secondary
{
    margin-bottom: 1rem;
}
/* ------------------------------------------------------ */

/** Movie review------------------------------------------------------ */
.movie-review > .row
{
    flex-direction: column;
}

.review
{
    width: 100%;
}

.friend
{
    width: 100%;
    margin-top: 2rem;
}
/* ------------------------------------------------------------- */

/** Add & edit review modal------------------------------------------------- */
.review-modal-container
{
    width: 90%;
}

.review-modal-container > .review-modal > form > .rating-input > input
{
    margin-top: -3rem;
}
/* ------------------------------------------------------------- */

/** Suggest movie modal------------------------------------------------- */
.suggest-modal-container
{
    width: 90%;
}
/* ------------------------------------------------------------- */